#root {
  margin: 0;
  text-align: center;
}

h1{
  font-size: 300%;
}

h2{
  font-size: medium;
}

h3{
  font-size: medium;
  color: grey;
}

ul{
  list-style-type: none;
}

.boton-mas{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.boton-menos{
  background-color: rgb(119, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

}

.card{
  width: 300px;
  height: 700px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body{
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.cart{
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-height{
  min-height: 80vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding: 50px;
  border: 1px solid grey;
  border-radius: 50px;
}

.formulario div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.header{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/assets/Header.jpg");
  min-width: 100vw;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}



